<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IAMX Quality Management System AS9100</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <!-- Header -->
    <header hx-get="/components/header.html" hx-trigger="load" hx-swap="outerHTML"></header>

    <!-- Main Content Area -->
    <div  class="flex h-screen align-center justify-center pt-24">
      <div  id="main-content" hx-get="/components/menu.html" hx-trigger="load" hx-swap="outerHTML"></div>
    </div>


  </body>
</html>
